<mat-toolbar>
    <button id="menusecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion">

        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #seccion="matMenu">
        <button mat-menu-item routerLink="/inicio">inico</button>
        <button mat-menu-item [matMenuTriggerFor]="producto">productos</button>
    </mat-menu>

    <span>My App</span>

    <!--se van a mostrar cuando las pantallas sea mayor a 700px-->
    <button id="menuinicio" mat-button routerLink="/inicio">inico</button>

    <!--menu de productos -->
    <button id="menuproductos" mat-button [matMenuTriggerFor]="producto">productos</button>

    <mat-menu #producto="matMenu">
        <button mat-menu-item routerLink="/producto">general1</button>
        <button mat-menu-item routerLink="/rareza">rareza</button>
        <button mat-menu-item routerLink="/tienda">tienda</button>
        <button mat-menu-item routerLink="/tipo">tipo</button>
    </mat-menu>

    <span class="example-spacer"></span>

    <!--inicio de sesion  el registro de un nuevo usuario-->
    <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item routerLink="/registro">registrarse</button>
        <button mat-menu-item routerLink="/inicio-sesion">iniciar sesion</button>
    </mat-menu>

    <!--botones con iconos-->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>shopping_cart</mat-icon>
    </button>
</mat-toolbar>