<div class="container">
  <div class="row">
    <h1>inicio</h1>
    <div class="col">
      <div class="contenido" *ngFor="let i of info">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{i.nombre}}</mat-card-title>
            <mat-card-subtitle>{{i.rareza}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{i.imagen}}" alt="">
          <mat-card-content>
            <h3>{{i.tipo}}</h3>
            <p>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>